* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#3A0A77), to(#7976F1));
  background: linear-gradient(#3A0A77, #7976F1);
  overflow: hidden;
  position: relative;
}

.main .navbar {
  width: 100%;
  border-bottom: 1px solid #737AF6;
}

.main .navbar nav {
  width: 80%;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.main .navbar nav .logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.main .navbar nav .logo img {
  width: 100px;
}

.main .navbar nav .nav-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.main .navbar nav .nav-link ul li {
  display: inline-block;
  list-style: none;
  padding: 15px 5px;
  margin: 0 25px;
  position: relative;
}

.main .navbar nav .nav-link ul li a {
  color: #b7e7f6;
  text-decoration: none;
}

.main .navbar nav .nav-link ul li.active::after {
  background: #fff !important;
}

.main .navbar nav .nav-link ul li::after {
  content: '';
  width: 100%;
  height: 3px;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main .navbar nav .nav-link ul li:hover::after {
  background: #fff;
}

.main .navbar nav .menu-icon {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.main .navbar nav .menu-icon img {
  width: 35px;
  float: right;
}

.main .content {
  width: 300px;
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.main .content .social-icons img {
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.main .content .search-box {
  margin-top: 20px;
  border: 1px solid #b7e7f6;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradinet(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.main .content .search-box img {
  width: 20px;
  margin: 5px 10px;
}

.main .content .search-box input {
  width: 100%;
  padding: 7px 15px;
  border-radius: 30px;
  border: 0;
  outline: none;
  background: transparent;
  color: #b7e7f6;
}

.main .content .search-box input::-webkit-input-placeholder {
  color: #b7e7f6;
}

.main .content .search-box input:-ms-input-placeholder {
  color: #b7e7f6;
}

.main .content .search-box input::-ms-input-placeholder {
  color: #b7e7f6;
}

.main .content .search-box input::placeholder {
  color: #b7e7f6;
}

.main #clouds {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100px;
  -webkit-animation: clouds 5s linear infinite;
          animation: clouds 5s linear infinite;
}

@-webkit-keyframes clouds {
  0% {
    top: -100px;
  }
  20% {
    top: 100px;
  }
  80% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}

@keyframes clouds {
  0% {
    top: -100px;
  }
  20% {
    top: 100px;
  }
  80% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}

.main #airplane {
  width: 200px;
  position: absolute;
  top: 180px;
  left: 250px;
  z-index: 2;
  -webkit-animation: fly 5s linear infinite;
          animation: fly 5s linear infinite;
}

@-webkit-keyframes fly {
  0% {
    left: -250px;
  }
  20% {
    left: 250px;
  }
  80% {
    left: 250px;
  }
  100% {
    left: 110%;
  }
}

@keyframes fly {
  0% {
    left: -250px;
  }
  20% {
    left: 250px;
  }
  80% {
    left: 250px;
  }
  100% {
    left: 110%;
  }
}

.main #hotairballoon {
  height: 400px;
  width: 700px;
  position: absolute;
  bottom: -450px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: hotairballoon 5s linear infinite;
          animation: hotairballoon 5s linear infinite;
}

@-webkit-keyframes hotairballoon {
  0% {
    bottom: -450px;
  }
  20% {
    bottom: 100px;
  }
  80% {
    bottom: 100px;
  }
  100% {
    bottom: -450px;
  }
}

@keyframes hotairballoon {
  0% {
    bottom: -450px;
  }
  20% {
    bottom: 100px;
  }
  80% {
    bottom: 100px;
  }
  100% {
    bottom: -450px;
  }
}

.main .balloon1 {
  width: 150px;
  opacity: .4;
}

.main .balloon2 {
  width: 350px;
}

.main .balloon3 {
  width: 180px;
  opacity: .5;
}

.main #myImg {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */